fastapi
uvicorn
python-multipart
pydantic
python-dotenv
PyMuPDF
pdfplumber
googlemaps
ortools
openpyxl
requests
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
redis
celery[redis]
flower
prometheus_client
pytest
